{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	<ul>
		<li>
			PHP :
			{{ php.version }}
		</li>
		<li>
			Symfony :
			{{ symfony.version }}
		</li>
		{% embed '@MazariniTools/iterative.html.twig' with {'items': php.extensions} %}
			{% block item_container %}
				<li>
				   {{ item }}
				</li>
			{% endblock item_container %}
		{% endembed %}

	</ul>
{% endblock %}
