{% extends 'base.html.twig' %}

{% block head_title %}
	{{ step }}
{% endblock %}

{% block title %}
	{{ step }}
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Value
			</th>
		</tr>
		{% embed '@MazariniTools/iterative.html.twig' with {'items': data.entity} %}
			{% block item_container %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item }}</td>
				</tr>
			{% endblock item_container %}
		{% endembed %}

	</table>
{% endblock %}
