{% include 'father/_view.html.twig' with {'entity':entity.parent} %}
<table class="table">
	<tbody>
		<tr>
			<th>LabelSon</th>
			<td>{{ entity.labelSon }}</td>
		</tr>
		<tr>
			<th>Id</th>
			<td>{{ entity.id }}</td>
		</tr>
	</tbody>
</table>
