{% extends 'base.html.twig' %}

{% block title %}Edit Grand
{% endblock %}

{% block main %}
	<h1>Edit Grand</h1>

	{{ include('grand/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_grand_index') }}">back to list</a>

	{{ include('grand/_delete_form.html.twig') }}
{% endblock %}
