{% embed '@MazariniTools/show.html.twig' %}

	{% block head_title %}
		Grand
	{% endblock %}

	{% block title %}
		Grand
	{% endblock %}

	{% block main %}
		<table class="table">
			<tbody>
				<tr>
					<th>LabelGrand</th>
					<td>{{ entity.labelGrand }}</td>
				</tr>
				<tr>
					<th>Id</th>
					<td>{{ entity.id }}</td>
				</tr>
			</tbody>
		</table>
	{% endblock %}

	{% block button_action %}{% endblock %}
	{% block button_delete %}{% endblock %}
	{% block modal_delete %}{% endblock %}

{% endembed %}
