{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-3">
				{% block menu %}
					{% include '@MazariniTest/step/menu.html.twig' %}
				{% endblock menu %}
			</div>
			<div class="col-9">
				<h1>
					{% block title %}{% endblock title %}
				</h1>
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>
{% endblock body %}
