{% embed 'default/index.html.twig' with {data: 2, action: 2} %}

	{% block head_title %}
		Son index
	{% endblock %}

	{% block title %}
		Son index
	{% endblock %}

	{% block hat %}
		{% include 'father/_hat.html.twig' with {'entity': parent,} %}
	{% endblock %}

	{% block table_title %}
		<th>Id</th>
		<th>Label</th>
	{% endblock %}

	{% block table_data %}
		<td>{{ entity.id }}</td>
		<td>{{ entity.labelSon }}</td>
	{% endblock %}

	{% block button_back %}
		<a class="btn btn-secondary" href="{{ path('app_father_show',{'id': parent.id}) }}">
			{% block button_back_label %}
				Back
			{% endblock %}
		</a>
	{% endblock %}

{% endembed %}
