{% embed 'default/show.html.twig' with {'entity': son, 'path': 'app_son'} %}

	{% block head_title %}
		Son
	{% endblock %}

	{% block title %}
		Son
	{% endblock %}

	{% block hat %}
		{% include 'father/_hat.html.twig' with {'entity':son.parent,} %}
	{% endblock %}

	{% block main %}
		<table class="table">
			<tbody>
				<tr>
					<th>LabelSon</th>
					<td>{{ entity.labelSon }}</td>
				</tr>
				<tr>
					<th>Id</th>
					<td>{{ entity.id }}</td>
				</tr>
			</tbody>
		</table>
	{% endblock %}

	{% block button_delete %}
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDelete">Delete</button>
	{% endblock %}

	{% block modal %}
		{{ parent() }}
		{% embed 'default/_delete_form.html.twig' with {'target': 'confirmDelete'} %}{% endembed %}
	{% endblock %}

{% endembed %}
