{% extends 'default/layout.html.twig' %}

{% block button_action %}
	<a class="btn btn-primary" href="{{ urls.edit }}">
		{% block button_edit_label %}
			Edit
		{% endblock %}
	</a>
{% endblock %}

{% block button_delete %}
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDelete">Delete</button>
{% endblock %}

{% block modal %}
	{{ parent() }}
	{% block modal_delete %}
		{% embed 'default/_delete_form.html.twig' with {'target': 'confirmDelete'} %}{% endembed %}
	{% endblock %}
{% endblock %}
