{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	{{ dump(tree) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Url
			</th>
			<th>
				Class
			</th>
			<th>
				Label
			</th>
		</tr>
		{% include '@MazariniTest/tree.html.twig' with {'items': tree} only %}
	</table>
{% endblock %}
