{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	<p>
		Path to route
		<a href="{{ path('homepage') }}">"homepage"</a>
		is "{{ path('homepage') }}"".
	</p>
{% endblock content %}
