<form method="post" action="{{ path('app_father_delete', {'id': father.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ father.id) }}">
    <button class="btn">Delete</button>
</form>
