{% embed '@MazariniTools/show.html.twig' %}

	{% block head_title %}
		Father
	{% endblock %}

	{% block title %}
		Father
	{% endblock %}

	{% block hat %}
		{% include 'grand/_hat.html.twig' with {'entity':entity.parent,} %}
	{% endblock %}

	{% block main %}
		<table class="table">
			<tbody>
				<tr>
					<th>LabelFather</th>
					<td>{{ entity.labelFather }}</td>
				</tr>
				<tr>
					<th>Id</th>
					<td>{{ entity.id }}</td>
				</tr>
			</tbody>
		</table>
	{% endblock %}

	{% block button_action %}{% endblock %}
	{% block button_delete %}{% endblock %}
	{% block modal_delete %}{% endblock %}

{% endembed %}
