{% use 'base/stylesheets.html.twig' %}
{% use 'base/body.html.twig' %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block head_title %}
				Welcome!
			{% endblock head_title %}
		</title>
		{% block stylesheets %}
			{ parent()}
		{% endblock stylesheets %}

	</head>
	<body>
		{% block body %}
			{ parent()}
		{% endblock body %}
		{% block javascripts %}{% endblock javascripts %}
	</body>
</html>
