<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="{% block body_class %}body{% endblock %}">
		<header
			id="header">
			<!-- block header start -->
			{% block header %}
				<div class="text-center">
					<p>
						block header
					</p>
				</div>
			{% endblock %}
			<!-- block body start -->
		</header>
		<!-- block body start -->
		{% block body %}
			<div id="wrapper" class="row">
				<div id="sidebar" class="col-sm-2">
					{% block sidebar %}
						<!-- block sidebar start -->
						<div class="list-group">
							<a href="/" class="list-group-item list-group-item-action">Home page</a>
							<a href="/grand" class="list-group-item list-group-item-action">CRUD Grand</a>
						</div>
						<!-- block sidebar end -->
					{% endblock %}
				</div>
				<div
					id="main" class="col-sm-10">
					<!-- block message start -->
					{% for alert in app.flashes('message') %}
						<div class="alert alert-{% if alert.type in ['notice','warning','success'] %}{{ alert.type }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
							{{ alert.message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
					<!-- block message end -->
					<!-- block main start -->
					{% block main %}
						<div class="text-center">
							<p>
								block main to be init
							</p>
						</div>
					{% endblock %}
					<!-- block main end -->
				</div>
			</div>
			<!-- block footer start -->
			<footer id="footer">
				{% block footer %}
					<div class="text-center">
						<p>
							block footer to be init
						</p>
					</div>
				{% endblock %}
			</footer>
			<!-- block footer end -->
		{% endblock %}
		<!-- block body end -->
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
