{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	{{ dump(dataCrud.links) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Url
			</th>
			<th>
				Class
			</th>
			<th>
				Label
			</th>
		</tr>
		{% include 'step/tree.html.twig' with {'items': dataCrud.links} only %}
	</table>
{% endblock %}
