{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	{{ dump(dataCrud.entity) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Value
			</th>
			<th>
				[Key]
			</th>
		</tr>
		{% embed '@MazariniTools/iterative.html.twig' with {'items': dataCrud.entity} %}
			{% block item_container %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item }}</td>
					<td>{{ dataCrud.entity[key] }}</td>
				</tr>
			{% endblock item_container %}
		{% endembed %}
	</table>
{% endblock %}
